{% extends 'base.html' %}
{%block titulo%}Lista de Ordenes{%endblock%}

{%block contenido%}

	
<div class="container">
	<div class="jumbotron">
		<h1>Trial Page</h1>
		<p>Sitio Elaborado por mi :D</p>
		<p><a href="" class="btn btn-success">Ve a sitio</a></p>
	</div>
	<div class="row-fluid">
		<div class="col-sm-4">
			<h2>Viento</h2>
			<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aspernatur provident doloribus perspiciatis deleniti ex nostrum, nemo rerum vitae enim, ad eveniet, fuga sed accusantium repudiandae beatae a delectus rem. </p>
			<a href="" class="btn btn-success">Leer Mas</a>
		</div>
		<div class="col-sm-4">
			<h2>Fuego</h2>
			<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam excepturi quas a facere amet doloremque perferendis laboriosam saepe consectetur officiis! Nemo, architecto distinctio rem laboriosam ea libero fugit voluptatum ad?</p>
			<a href="" class="btn btn-success">Leer Mas</a>
		</div>
		<div class="col-sm-4">
			<h2>Agua</h2>
			<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa iusto officia tempora ut dolore nisi, eum dolor nobis sit voluptas nam hic molestiae vitae sunt? Quaerat enim accusantium, asperiores voluptas! </p>
			<a href="" class="btn btn-success">Leer Mas</a>
		</div>
	</div>
</div>

{%endblock%}