{%extends 'base.html'%}
{% block titulo %}Nuevo Cliente{% endblock %}

{% block contenido%}
<div class="col-sm-6 text-center col-sm-offset-3">
		
	<div class="panel panel-primary">
		<div class="panel-heading">
			Nuevo Cliente
		</div>
		<div class="panel-body">
			<form action="">
				<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<input type="text" class="form-control input-default" id="nit" placeholder="Nit o Cedula">
					</div>
				</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<input type="text" class="form-control input-default" id="nombre_cliente" placeholder="Nombre">
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<input type="text" class="form-control input default" id="apellido_cliente" placeholder="Apellido">
						</div>
					</div>
					
					<div class="col-sm-12">
						<div class="panel panel-primary	">
							<div class="panel-heading">
								Datos de Empresa		
							</div>
							<div class="panel-body">
								<div class="col-sm-6">
									<div class="form-group">
										<input type="text" class="form-control input-default" id="razon_social" placeholder="Razon Social">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<input type="text" id="telefono" class="form-control input-default" placeholder="Telefono">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group"><input type="text" class="form-control input-default" id="direccion" placeholder="Direccion"></div>
								</div>
								<div class="col-sm-6">
									<div class="form-group"><input type="text" class="form-control input-default" id="ciudad" placeholder="Ciudad"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group text-center">
					<a href="/listar_cliente" class="btn btn-danger">
						Cancelar
						<span class="glyphicon glyphicon-remove"></span>
					</a>
					<a class="btn btn-success" id="guardar_cliente">
						Guardar
						<span class="glyphicon glyphicon-ok"></span>
					</a>
				</div>
			</form>
		</div>
	</div>

</div>
{% endblock %}