{% extends 'base.html' %}
{%block titulo%}Lista de Ordenes{%endblock%}

{%block contenido%}

	<div class="panel panel-primary text-center">
		<div class="panel-heading">
			Lista de Ordenes
		</div>
		<div class="panel-body">
			<div class="col-sm-12 text-right">
				<a href="/orden_de_trabajo"class="btn btn-primary text-right">
					Agregar			
					<span class="glyphicon glyphicon-plus"></span>
				</a>
			</div>
		</div>
			<table class="table table-bordered table-striped	">
				<thead>
					<tr>
						<th>ID</th>
						<th>Nombre</th>
						<th>Trabajo</th>
						<th>Cliente</th>
						<th>Fecha</th>
						<th>Tipo</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>BLCok</td>
						<td>ska</td>
						<td>Jeesu</td>
						<td>12/09/90</td>
						<td>Loa</td>
					</tr><tr>
						<td>1</td>
						<td>BLCok</td>
						<td>ska</td>
						<td>Jeesu</td>
						<td>12/09/90</td>
						<td>Loa</td>
					</tr>
				</tbody>
			</table>
	</div>
			<div class="text-center">
				
			<ul class="pagination">
				<li class="disabled"><a href="#">Anterior</a></li>
				<li><a href="#">1</a></li>
				<li class="disabled"><a href="#">Siguiente</a></li>
			</ul>
			</div>

{%endblock%}