{% extends 'base.html' %}
{%block titulo%}Lista de Ordenes{%endblock%}

{%block contenido%}

<div class="panel panel-primary">
	<div class="panel-heading text-center">
		Lista de clientes
	</div>
	<div class="panel-body">
		<div class="col-sm-12 text-right">

			<a href="/agregar_cliente" class="btn btn-primary">
				Agregar
				<span class="glyphicon glyphicon-plus"></span>
			</a>
		</div>
	</div>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nit</th>
					<th>Nombre</th>
					<th>Opciones</th>
				</tr>
			</thead>
			<tbody>
				{% for dato in cliente %}
				<tr>
					<td> </td>
					<td>{{dato.nit}}</td>
					<td>{{dato.nombre}} {{dato.apellido}}</td>
					<td>
					<!-- <button type="button" class="btn btn-defaut btn-sm ver" id="{{dato.id}}">
						<span class="glyphicon glyphicon-eye-open"></span>	
					</button>
					 -->
					<a href="/ver_cliente/{{dato.id}}" class="btn btn-default btn-sm" id="{{dato.id}}">
						<span class="glyphicon glyphicon-eye-open"></span>
					</a>
					<button type="button" class="btn btn-default btn-sm modificar" id="{{dato.id}}">
						<span class="glyphicon glyphicon-pencil"></span>
					</button>
					<button type="button" class="btn btn-default btn-sm eliminar" id="{{dato.id}}">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
					</td>
				</tr>
					
				{% endfor%}
			</tbody>
		</table>
</div>
<div class="text-center">
	<ul class="pagination">
		<li class="disabled"><a href="">Ant</a></li>
		<li><a href="">1</a></li>
		<li class="disabled"><a href="">Sig</a></li>
	</ul>
</div>

{%endblock%}